<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".ActivityWatcherInstaller"
            android:authorities="${applicationId}.a11y-analyzer-installer"
            android:enabled="@bool/a11y_analyzer_watcher_auto_install"
            android:exported="false"/>
    </application>

</manifest>